{% extends "base.html" %}
{% load static %}
{% block title %} SignUp {% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'authentication/signup.css' %}">
{% endblock %}



{% block content %}
    <div class="signup-form">
        <form action="/signup" method="POST">
            {% csrf_token %}
            <div class="signup-form-item">
            <label for="">Firstname</label>
            <input type="text" id="fname" name="fname" placeholder="" required>
            </div>
        
            <div class="signup-form-item">
            <label for="">Lastname</label>
            <input type="text" id="lname" name="lname" placeholder="" required>
            </div>
            <div class="signup-form-item">
            <label for="">Email</label>
            <input type="email" id="email" name="email" placeholder="" required>
            </div>
            <div class="signup-form-item">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="" required>
            </div>
            <div class="signup-form-item">
            <label for="password">Password</label>
            <input type="password" id="pass1" name="pass1" placeholder="" required>
            </div>
            <div class="signup-form-item">
            <label for="password">Confirm password</label>
            <input type="password" id="pass2" name="pass2" placeholder="" required>
            </div>
            <br>

            <button class = "signup-btn" type="submit">Sign-Up</button>
        </form>
    </div>
{% endblock %}        